{% extends 'tom_common/base.html' %}
{% block content %}
<p>
To know that we know what we know, and to know that we do not know
what we do not know, that is true knowledge. <br/>
<strong>Nicolaus Copernicus</strong>
</p>

<!-- Embed SAT24 Cloud Map for Israel -->
<!-- <div style="margin-top: 20px;">
    <h2>Real-Time Cloud Cover Over Israel</h2>
    <iframe sandbox="allow-scripts allow-popups allow-popups-to-escape-sandbox" 
    src="https://widgets.meteox.com/en-GB/widgets/radar/location/314182/satellite?z=8"
    style="width:100%; height:600px; max-width:1600px; max-height:1600px; padding:0px; border:none; box-sizing:border-box;" 
    scrolling="no" 
    frameborder="0">
</iframe>
</div> -->
{% endblock %}

 